@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<!-- We can also do things in our razor templates like make if statements or foreach loops to dynamically create html. 

Notice that any C# code that we want evaluated in the views starts with the "at" symbol. Also notice that the Model keyword is a reference to whatever object that the view receives from the controller. -->